.search-wrapper {
  width: 70%;
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchbar-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 35%;
  width: 60%;
  border: #3f3f3f 2px solid;
}

.searchbar {
  width: 90%;
  height: 100%;
  background-color: #ffffff;
  border: none;
  color: #3f3f3f;
  font-size: 32px;
  font-weight: 400;
  padding-left: 10px;
}

.searchbar:focus {
  box-shadow: none;
}

.searchbar::placeholder {
  color: #3f3f3f;
}

.search-icon {
  padding: 1.5% 2%;
}

.extended-search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5em;
  height: 65%;
  width: 50%;
  margin-top: 3%;
}

.extended-search .dropdown {
  width: 50%;
  height: 40%;
  display: flex;
  /* align-items:center; */
  justify-content: center;
  position: relative;
}

.extended-search .btn {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  color: #3f3f3f;
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
  text-align: left;
  box-shadow: 1px 1px 15px 0 #bdbdbd;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.extended-search .btn:active {
  background-color: #bdbdbd;
}

.dropdown-name {
  /* margin-right: 35%; */
  height: 100%;
  width: 80%;
  margin-bottom: 0;
  margin-left: 1em;
  display: flex;
  align-items: center;
}

.dropdown-caret {
  width: 20%;
  height: 100%;
}

.extended-search .dropdown .dropdown-menu {
  transform: translateY(17.5%) !important;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  min-width: 200px;
}

.extended-search .show {
  width: 100%;
  /* display: flex; */
  /* flex-direction: column; */
  /* display: block; */
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.extended-search .dropdown-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 12px;
  gap: 10px;
  border: none;
  border-bottom: 1px solid #d0d0d0;

  text-align: left;
  padding: 8px 12px;
  font-size: 16px;
  font-weight: 500;
  color: #3f3f3f;
}

.extended-search .dropdown-item:last-child {
  border-bottom: none;
}

.extended-search .dropdown-item:hover {
  background-color: #e6e6e6;
  cursor: pointer;
}

.extended-search .dropdown-item:active {
  background-color: #d9d9d9;
}

.filter-stars {
  width: 80%;
  height: auto;
}

.dropdown-item .filter-checkbox {
  /* appearance:none; */
  width: 1.5em;
  height: 1.5em;
  accent-color: #00236d;
  cursor: pointer;
  background-color: #00236d;
}

.sort-by {
  margin-bottom: 0;
  font-weight: 700;
  font-size: 18px;
}
